.header{
    height: 92px;
    width: 100vw;
    background: #222831; 
    color: white;
    border-bottom:1px solid #29a19c;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.linktext{
    color: #29a19c;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
}

.loginDiv{
    display: flex;
    gap: 15px;
    position: absolute;
    left: 40px;
}

h1{
    text-shadow: 2px 4px 4px #29a19c;
}